@import url(https://fonts.googleapis.com/css?family=Lato:300,700,900&display=swap);

.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 810px;
	padding: 50px 0 100px;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}

.header__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	padding-bottom: 100px;
}

.subtitle,
.blockquote {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
}

.subtitle {
	padding:70px 0 35px;
}

.text {
	padding-bottom: 40px;
}

.blockquote {
	padding: 65px 0 65px 65px;
}

.article__list {
	padding: 35px 0 25px;
}

ul li {
	padding:0 0 15px 30px;
}


